# Logs
logs/
*.log

# Dependencies
node_modules/

# Build output
dist/

# Temp files
temp/

# Environment
.env

# Prisma
prisma/migrations/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
